aside {
  h6 {
    background-color: #eee;
    border-bottom: 2px solid #eaeaea;
    padding: 8px;
    margin-bottom: 0px;
  }

  .menu li {
    background-color: #f9f9f9;
    font-size: 1.4rem;
    margin: 0;    
    font-size: 14px;
    border-color: #eee #f9f9f9;
    border-style: none none solid solid;
    border-width: 0 0 1px 1px;
    cursor: pointer;
  }

  .block {
    margin-bottom: 20px;
    max-width: 180px;
   }
  
  .menu div:hover {
    border-color: #3284bf;
    border-style: none none none solid;
    border-width: 0 0 0px 4px;
  }

  .menu .active {
    background: #3785bd;
    color: white;
  }
}
