footer {
    background: #93d3eb url("http://www.ucla.edu/img/audience-nav-bg.jpg") repeat-y scroll center center !important;
    margin: 1rem 0 0 0 !important;
    padding-bottom: 5px;
    font-size: 0.9em;
    text-align: center;
    opacity: 0.5;

    a {
    	color: black;
    }
}
