<aside class="medium-3 large-2 medium-pull-9 large-pull-10 columns" data-sticky-container>
  <div class="sticky" data-sticky data-anchor="body_content">
    <div class="block">
      <h6> On This Page </h6>
      <ul class="vertical menu" data-magellan active-class="active">
          <li><a href="#subjectarea">Subject area</a></li>
          <li><a href="#division">Division</a></li>
          <li><a href="#instructor">Instructor</a></li>
          <li><a href="#collabsites">Collaboration sites</a></li>
      </ul>
    </div>

    <div class="block">
      <h6> Search Sites</h6>
      <ul class="vertical menu">
          <li><input type="checkbox"/> Collab</li>
          <li><input type="checkbox"/> Course</li>
      </ul>
    </div>

    <div class="block">
      <h6> Filter By</h6>
      <ul class="vertical menu">
          <li><input type="checkbox"/> Title </li>
          <li><input type="checkbox"/> Description</li>
          <li><input placeholder="Search..." type="text"></li>
      </ul>
    </div>
  </div>
  </aside>
 
