<aside class="column large-3 medium-4 medium-pull-8">
    <div class="block">
      <h6> Browse By </h6>
      <ul class="menu">
          <div class="active" ><a href="#">Subject area</a></div>
          <div><a href="#">Division</a></div>
          <div><a href="#">Instructor</a></div>
          <div><a href="#">Collaboration sites</a></div>
      </ul>
    </div>

    <div class="block">
      <h6> Search sites</h6>
      <ul class="menu">
          <div><input type="checkbox"/> Collab</div>
          <div><input type="checkbox"/> Course</div>
      </ul>
    </div>

    <div class="block">
      <h6> Filter by</h6>
      <ul class="menu">
          <div><input type="checkbox"/> Title </div>
          <div><input type="checkbox"/> Discription</div>
          <div><input placeholder="Search..." type="text"></div>
      </ul>
    </div>

  </aside>
 