<div class="row expanded">
    <div class="title-bar" data-responsive-toggle="top-bar-menu" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle></button>
        <div class="title-bar-title">Menu</div>
    </div>

    <div class="top-bar" id="top-bar-menu">
        <div class="top-bar-left">
            <ul class="menu">
                <li>
                    <a href="#">
                        <img class="logo-ucla" src="https://ccle.ucla.edu/theme/image.php/uclashared/theme/1478704637/ucla-logo" alt="UCLA CCLE Common Collaboration and Learning Environment">
                    </a>
                </li>
                <li><a class="logo-ccle" href="#">CCLE</a></li>
                <li class="show-for-large">
                    <a href="#">
                        <div class="row logo-cc">common collaboration</div>
                        <div class="row logo-le">& common collaboration</div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu vertical medium-horizontal " data-dropdown-menu>
                <li class="opens-right">
                    <a class="need-help" href="#">Need Help <span class="alert badge">?</span></a>
                    <ul class="menu submenu vertical" data-submenu>
                        {{#each payload.content.needhelpitems}}
                            <li><a href="#">{{ this }}</a></li>
                        {{/each}}
                    </ul>
                </li>
                <li class="show-for-large"><a href="#">You are not logged in.</a></li>
                <li><a class="btn-login" href="#">Log in</a></li>
            </ul>
        </div>
    </div>
</div>
